body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
}

a {
    text-decoration: none;
}

section a{
    color: #333;
}

footer a {
    color: #333;
}

section {
    margin: 20px;
}

section ul li{
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}
